<style>.navbg-navbar {background-color:#c3ebff}</style>
<nav class="navbar navbar-expand-lg navbg-navbar px-4 mb-4 shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Qwik Notes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target = '#Menu' >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Menu">
            <ul class="navbar-nav nav-pills" style="white-space: nowrap; margin-left: auto;">
                <style>.cute-button {background-color: #d0d0f2;border: 1px solid #392905;border-radius: 50px;margin-right: 10px;} </style>
                <li class="nav-item cute-button" style="margin-top: 15px;margin-right:8%; width: 100px;text-align: center;"><a class='nav-link' href='/demo'style="font-family: 'Courier New', Courier, monospace;"><b>Demo</b></a></li>
                <style>.nav-item button {background-color: #d0d0f2;border: 1px solid #392905;border-radius: 50px;margin-right: 10px;} </style>
                <li class="nav-item" style="margin-left: -1%;;">
                    <button type="button" style="margin-top: 15px; width: 100px; text-align: center;"><a href='/signup' class='nav-link'style="font-family: 'Courier New', Courier, monospace;"><b>Sign up</b></a></button>
                    <button type="button" style="margin-top: 15px; width: 100px; text-align: center;"><a href='/login' class='nav-link' style="font-family: 'Courier New', Courier, monospace;"><b> Log In</b></a></button>
                </li>
            </ul>
        </div>
    </div>
</nav>